.summary > input {
    color: black;
    border:2px solid red;
}

textarea{
    color: black;
    outline: none;
    border:2px solid transparent;
    background-color: rgba(229, 229, 229, 0.584);
    font-size: 1rem;
}

textarea:hover{
    border:2px solid #d1d1ff;
}